### Day - 2 Python Examples

### Input/Output examples

In [1]:
print("Hello, World!")
name = input("What is your name? ")
print(f"Nice to meet you, {name}!")
age = int(input("What is your age? "))
print(f"You are {age} years old.")

Hello, World!

What is your name?  Jay Thakkar

Nice to meet you, Jay Thakkar!

What is your age?  11

You are 11 years old.

#### Comment examples

In [9]:
# This is a single-line comment

"""
This is a
multi-line comment
"""

print("HI") # This way we comment

# Print Hi (in this way also we can comment)
print("Hi")

HI
Hi

#### Variable examples

In [3]:
x = 10
y = 3.14
name = "Alice"
is_student = True
count = 0
total = 0.0
message = ""
flag = False

#### Data type examples

In [4]:
integer = 42
float_num = 3.14
complex_num = 3 + 4j
string = "Hello, Python!"
boolean = True
list_example = [1, 2, 3, 4, 5]
tuple_example = (1, 2, 3, 4, 5)
set_example = {1, 2, 3, 4, 5}
dict_example = {"name": "Alice", "age": 25}

#### Typecasting examples

In [5]:
int_from_float = int(3.14)
float_from_int = float(42)
str_from_int = str(123)
int_from_str = int("456")
float_from_str = float("3.14")
bool_from_str = bool("True")

#### More data type examples

In [6]:
list_of_strings = ["apple", "banana", "cherry"]
tuple_of_tuples = ((1, 2), (3, 4), (5, 6))
set_of_tuples = {(1, 2), (3, 4), (5, 6)} 
dict_of_lists = {"fruits": ["apple", "banana"], "vegetables": ["carrot", "spinach"]}

#### More typecasting examples

In [7]:
int_from_bool = int(True)
float_from_bool = float(False)
str_from_list = str([1, 2, 3])
list_from_str = list("Python")
tuple_from_list = tuple([1, 2, 3])
set_from_list = set([1, 2, 3, 2, 1])